streamlit==1.32.0
pandas==2.2.2
numpy==1.26.4
pillow==10.2.0
groq==0.8.0
requests==2.32.3
plotly==5.24.0
transformers==4.44.2
torch==2.2.2
torchvision==0.17.2
sentencepiece==0.2.0
huggingface-hub==0.24.5
tqdm==4.66.4
matplotlib==3.9.0
